<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Simulation Parameters</title>
</head>
<body>
    <h1>Fermi-Pasta Simulation</h1>
    <form action="result" method="POST">
        <h2>Input numerical parameters for simulation</h2>
        <section class="container params">
            <input onChange="showItems()" class="input active-inp" type="text" name="L" placeholder="String length" />
            <input onChange="showItems()" class="input active-inp" type="text" name="tf" placeholder="Total simulation time" />
            <input onChange="showItems()" class="input active-inp" type="text" name="N" placeholder="Number of oscillators" />
            <input onChange="showItems()" class="input active-inp" type="text" name="k" placeholder="Young's modulus" />
            <input onChange="showItems()" class="input active-inp" type="text" name="rho" placeholder="Length density of string" />
            <input onChange="showItems()" class="input active-inp" type="text" name="alpha" placeholder="Non-linear coefficient" />
        </section>
        <h2 class="hidden">Input initial conditions at time t=0 (what shape does the string take initially?)</h2>
        <section class="container init_conditions hidden">
            <input onChange="showItems()" class="input active-inp" type="text" name="pert_ini" placeholder="Amplitude of initial condition (or height of parabola)" />
            <label for="init_cond"><h2>Initial conditions string shape (sine, half-sine or parabola)</h2></label>
            <select onChange="showItems()" class="input active-inp" name="init_cond" id="init_cond">
                <option value="sine">Sine</option>
                <option value="half-sine">Half-sine</option>
                <option value="parabola">Parabola</option>
            </select>
        </section>
        <input id="submit" class="hidden" type="submit" value="submit" />
    </form>

    <script>
        function showItems() {
            const inputs = document.querySelectorAll('.params input');
            let flag = 0
            if ([...inputs].every(el => {
                return typeof parseFloat(el.value) == "number" && !isNaN(parseFloat(el.value))
            })) {
                flag = true
            }
            if (flag) {
                document.querySelectorAll('.hidden').forEach(item => item.classList.remove('hidden'))
                document.querySelectorAll('.params input').forEach(item => item.classList.remove('active-inp'))
                inputs.forEach(el => {
                    el.setAttribute('readonly', true)
                })
            }
        }
    </script>
</body>
</html>