body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #151b29;
    color: white;
    font-family: 'Merriweather', serif;
}
h1 {
    margin-bottom: 20px;
}
h2 > em {
    margin: 15px auto 30px;
    color: #838893;
    text-decoration: underline double;
    font-weight: lighter;
}

blockquote {
    margin-bottom: 30px;
}

figcaption {
    text-align: center;
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2 {
    margin: 50px 10% 20px 10%
}

label > h2 {
    margin: 10px 10% 20px 10%
}

::placeholder {
    color: #494e58;
    font-family: 'Merriweather', serif;
}

.container {
    display: flex;
    margin: 0 auto 20px auto;
    width: 85%;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
}
.container input {
    flex: 1;
}

.init_conditions {
    width: 85%;
    flex-direction: column;
}
.init_conditions input, select, label {
    min-width: 35%;
    border-color: #d78006;
    border-radius: 5px;
    flex: 1;
    color: #d78006;
    background-color: #151b29;
}
.init_conditions label {
    margin: 25px auto 10px auto;
    color: white;
}
.init_conditions select {
    font-family: 'Merriweather', serif;
    color: #494e58;
    text-align: center;
    font-size: large;
}

.input {
    background: none;
    color: #d78006;
    border: 2px solid;
    outline: none;
    /* max-width: 200px; */
    border-radius: 5px;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    text-align: center;
}

.active-inp:hover {
    border-color: #f1ff5c;
    color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: auto;
}
.active-inp:hover::placeholder {
    color: #f1ff5c;
}

.active-inp:focus {
    outline: none;
}
.active-inp:active {
    outline: 1px solid #f1ff5c;
}
.active-inp:focus::placeholder {
    color: transparent;
}

#init_cond {
    border: 2px solid #d78006;
}

#submit {
    background-color: #d78006;
    color: black;
    border: 0 solid white;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: large;
    padding: 20px 30px;
}
#submit:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.input[readonly=true] {
    border-color: #838893;
    color: #494e58;
    cursor: default;
}